HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
Backend/nbproject/private/
Backend/nbbuild/
Backend/dist/
/nbdist/
/.nb-gradle/
Backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
Backend/.vscode/

Backend/node_modules/
FrontEnd/frontend/node_modules
FrontEnd/frontend/.pnp
.pnp.js

# testing
FrontEnd/frontend/coverage

# production
FrontEnd/frontend/build


